:root {
  --theme-color: #2196f3;
  --text-primary: #212121;
  --text-secondary: #757575;

  --primary-font: 'Raleway';
  --secondary-font: 'Roboto';
}

body {
  background-color: #e5e5e5;
  font-family: var(--secondary-font);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

/* ===== header ===== */

.logo {
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

span {
  color: #2196f3;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--theme-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-primary);
}
.active-page {
  color: var(--theme-color);
}
.connection-mailto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}

.connection-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}

.connection-mailto:hover,
.connection-mailto:focus {
  color: var(--theme-color);
}

.connection-tel:hover,
.connection-tel:focus {
  color: var(--theme-color);
}

/* ===== main ===== */

.cap-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.cap-button {
  background-color: #2196f3;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.peculiarity-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
}
.peculiarity-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

/* ===== classes ===== */

.classes-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}
.classes-image {
  width: 370px;
  height: 294px;
}

/* ===== team ===== */

.team-box-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}
.team-image {
  width: 270px;
  height: 260px;
}
.team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}
.team-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

/* ===== footer ===== */

.footer-logo {
  font-family: raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mailto {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
