:root {
  --theme-color: #2196f3;
  --text-primary: #212121;
  --text-secondary: #757575;

  --primary-font: 'Raleway';
  --secondary-font: 'Roboto';
}

body {
  background-color: #e5e5e5;
  font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

/* ===== header ===== */

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-nav {
  display: flex;
}

.meny-nav {
  display: flex;
}

.meny-nav-link + .meny-nav-link {
  margin-left: 50px;
}

.logo {
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

span {
  color: #2196f3;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--theme-color);
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-primary);
}
.active-page {
  color: var(--theme-color);
}

.contacts-nav {
  display: flex;
}

.connection-mailto {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}

.connection-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}

.connection-mailto:hover,
.connection-mailto:focus {
  color: var(--theme-color);
}

.connection-tel:hover,
.connection-tel:focus {
  color: var(--theme-color);
}

/* ===== main ===== */

.cap {
  background-color: #2f303a;
  margin-bottom: 94px;
}

.cap-container {
  padding: 200px 0;
  width: 1200px;
}

.cap-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.cap-button {
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin: 0 auto;

  background-color: #2196f3;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.peculiarity {
  margin-bottom: 94px;
}

.peculiarity-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: auto 0;
  padding: 0 10px;
}

.peculiarity-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
}
.peculiarity-text {
  margin-right: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

/* ===== classes ===== */

.image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  margin-top: 50px;
  margin-right: 30px;
  margin-bottom: 94px;
}

.classes-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.classes-image-list {
  margin-right: 30px;
}

.classes-image {
  width: 370px;
  height: 294px;
}

/* ===== team ===== */

.team-box {
  margin-bottom: 94px;
  background-color: #f5f4fa;
}

.team-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.team-group-bg {
  margin-right: 30px;
}

.team-container {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 200px;
}

.team-box-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}
.team-image {
  width: 270px;
  height: 260px;
}
.team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}
.team-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

/* ===== footer ===== */

.footer {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1600px;
  height: 252px;
}

.footer-container {
  padding-top: 60px;
  padding-left: 40px;
}

.footer-box-connectio {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mailto {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
